* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
body h1 {
  color: #282f59;
}
body p {
  color: #7c7c7c;
}
body a {
  text-decoration: none;
  color: whitesmoke;
}
.orderBtn {
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #fb5283, #ff3527);
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.5s;
  margin-left: 120px;
}
.row {
  display: flex;
  align-items: center
}
.header-content,
.hero-img {
  flex-basis: 50%;
  padding: 5rem;
}
.header-content h1 {
  font-size: 4vmin;
  margin-bottom: 30px;
  margin-top: 5rem;
  margin-left: 50px;
  color: #4642ff;
}
.header-content p {
  margin-bottom: 30px;
  margin-left: 120px;
}
.hero-img img {
  margin-left: 55px;
  margin-top: 1rem;
  width: 500px;
  height: 400px;
}